---
interface Props {
    url: string;
    name: string;
    img: string;
    description: string;
}
const { url, name, img, description } = Astro.props;
---

<li class="h-full">
    <a
        href={url}
        target="_blank"
        class="px-2 py-1 flex h-full flex-col gap-2 rounded dark:bg-gray-800 border-gray-500 border tracking-tight leading-3 bg-slate-300"
    >
        <img src={img} alt={"Imagen de projecto " + { name }} />
        <h3 class="text-xl">{name}</h3>
        <p class="dark:text-gray-400">{description}</p>
    </a>
</li>
