<div
    class="relative self-end flex items-end justify-end motion-safe:animate-bounce"
>
    <div
        class="absolute bg-gray-800 px-3 py-1 rounded -right-5 bg-clip-border border-gray-50 border-2"
    >
        Currently learning Java
    </div>
    <img src="/avatar.webp" alt="CarlosNuñezMX Avatar" />
</div>
