---
import { getI18N, type langs } from "../../i18n/handler";

const {
    HERO: { CURRENTLY_LEARNING },
} = getI18N({ currentLocale: Astro.currentLocale as langs });
---

<div
    class="relative md:self-end flex md:items-end justify-center md:justify-end md:motion-safe:animate-bounce motion-safe:animate-pulse"
>
    <div
        class="absolute bg-gray-800 px-3 py-1 rounded md:-right-5 bg-clip-border border-gray-50 border-2 -right-2"
    >
        {CURRENTLY_LEARNING.TITLE}
        {CURRENTLY_LEARNING.VALUE}
    </div>
    <img src="/avatar.webp" alt="CarlosNuñezMX Avatar" />
</div>
