---
import { getI18N, type langs } from "../../i18n/handler";
import SocialButton from "./socialButton.astro";
// @ts-ignore
const { HERO } = getI18N({
    currentLocale: (Astro.currentLocale || "es") as langs,
});
console.log(HERO);
---

<aside class="self-center">
    <h1 class="text-3xl">
        {HERO.TITLE}
        <span class="dark:text-green-300 text-green-700">Carlos Núñez ‍🧑‍💻</span>
    </h1>

    <p class="text-lg">
        {HERO.CONTENT[0]}
        <span
            class="dark:text-green-300 hover:bg-green-700 hover:text-white text-green-700 transition-colors ease-in-out delay-100 dark:hover:bg-green-300 dark:hover:text-black"
            >{HERO.CONTENT_HIGHLIGHTED}</span
        >
        {HERO.CONTENT[1]}
    </p>
    <div class="flex items-stretch gap-2 my-8 flex-wrap">
        <SocialButton
            href="https://www.github.com/CarlosNunezMX"
            iconName="devicon-github-original"
        />
        <SocialButton
            href="mailto:carlos.nunez.calvario@yandex.com"
            iconName="bi bi-envelope-fill"
        >
            carlos.nunez.calvario@yandex.com
        </SocialButton>
        <SocialButton
            iconName="bi bi-discord"
            href=" https://discordapp.com/channels/@me/435184826329464841/"
            >@karurosu_nunyezu</SocialButton
        >
    </div>
</aside>
