---
import ThemeSelector from "./ThemeSelector.astro";
---

<nav class="fixed w-full top-0 left-0 flex justify-center mt-3">
    <ul
        class="flex gap-5 bg-slate-300 dark:bg-blue-950 rounded-full px-5 py-3 w-[80%] md:w-[30%]"
    >
        <a href="#projects" class="text-center w-full hover:dark:text-green-200"
            ><li>Projects</li></a
        >
        <a href="#stack" class="text-center w-full hover:dark:text-green-200"
            ><li>Skills</li></a
        >
        <ThemeSelector />
        <!-- <a href="#aboutme" class="text-center w-full hover:dark:text-green-200"
            ><li>About me</li></a
        > -->
        <!-- <li
            class="cursor-pointer hover:text-yellow-400 ease-in-out transition-colors"
        >
            <i class="bi bi-moon-fill"></i>
        </li> -->
    </ul>
</nav>
